.title {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #466DA6;
    margin-bottom: 45px;
}

.titleStatus {
    margin-left: 5px;
    font-size: 16px;
    color: #596C77;
}

.subtitle {
    font-weight: 550;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
    color: #466DA6;
}

.date {
    font-size: 14px;
    color: #596C77;
    margin-bottom: 15px;
}

.info {
    display: block;
    padding: 20px;
    background: #FBFBFB;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    min-width: 500px;
    max-width: 80%;
    margin-bottom: 25px;
}

.li {
    list-style: none;
    padding: 15px;
    color: #596C77;
    font-size: 16px;
    line-height: 150%;   
}

.item {
    font-weight: 550;
}

.underComment {
    margin-bottom: 20px;
}

.replyComment {
    margin-left: 50px;
    margin-right: 13px;
}

.attachedFiles, .reply {
    background-color: rgba(0, 0, 0, 0);
    color: #466DA6;
    border: none;
    font-size: 16px; 
    outline: none;
    cursor: pointer;
}

.attachedFiles {
    border: none;
    margin-bottom: 20px;
}

.reply {
    margin-left: 10px;
    padding: 0;
    border-bottom: solid 1px #466DA6;
}

.img {
    margin-left: 5px;
    height: 10px;
}

.file { 
    display: flex;
}

.fileImgCont {
    border: 1px solid #A2B5D1;
    box-sizing: border-box;
    width: 42px;
    height: 41px;
    border-radius: 4px;
}
.fileImgCont:hover {
    cursor: pointer;
    background: url(./../../../img/delete.svg) no-repeat 5px 5px;
    background-size: 30px; 
}

.fileImg {
    padding: 8px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
}
.fileImg:hover {
    display: none;
}

.download {
    font-size: 16px;
    line-height: 16px;
    color: #596C77;
    margin: 15px;
}

.input {
    font-family: helvetica;
    background: #FBFBFB;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding: 15px;
    width: 40%;
    color: #596C77;
    margin: 10px 10px 20px 0;
}
.input::placeholder {
    font-family: helvetica;
    color: #AEB8BC;
    margin: 10px 10px 20px 0;
}

.showHideComments, .ask {
    background-color: rgba(0, 0, 0, 0);
    color: #466DA6;
    border: none;
    font-size: 26px; 
    outline: none;
    margin-bottom: 1em;
    margin-top: 1em;
    cursor: pointer;
}

.showHideComments {
    font-size: 26px; 
    font-weight: 550;
}

.imgBS {
    margin-left: 6px;
    height: 14px;
}

.askText {
    display: inline-block;
    margin-left: 8px;
    font-size: 18px;
    vertical-align: 25%; 
}

.commentDiv {
    display: flex;
    margin-bottom: 1em;
}

.commentRole {
    color: #466DA6;
    font-size: 16px;
    margin-right: 5px;
}

.commentDate {
    color: #AEB8BC;
    margin-left: 1em;
}

.commentText {
    background: #FBFBFB;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding: 20px;
    min-width: 500px;
    max-width: 80%;
    font-size: 16px;
    line-height: 150%;
    color: #596C77;
    margin: 5px 20px 20px 0;
}

.replyInputCont {
    margin-bottom: 60px;
    border-bottom: #596c7734 1px solid;
    width: 83%;
}

.replyInput {
    display: block;
    margin-top: 20px;
    background: #FBFBFB;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding: 20px;
    height: 200px;
    min-width: 500px;
    width: 97%;
    font-size: 16px;
    line-height: 150%;
    color: #596C77;
    margin: 5px 20px 20px 0;
    resize: none;
}

.replyInput::placeholder {
    font-family: helvetica;
    color: #AEB8BC;
    margin: 10px 10px 20px 0;
}

.underReply {
    display: flex;
}

.sendBtn {
    display: block; 
    width: 120px;
    height: 38px;
    border: none;
    border-radius: 4px;
    font-weight: 550;
    font-size: 14px;
    line-height: 16px;
    color: #fff !important;
    cursor: pointer;
    margin-right: 30px;
    background: #60BC87;
    margin-left: 20px;
}
.sendBtn:hover {
    background: #60bc86d7;
}
.sendBtn:active {
    background: #60bc86b4;
}

.replyFileCont {
    margin-bottom: 30px;
}

.replyFileLabel {
    cursor: pointer;
}

.replyFileImg {
    width: 16px;
}

.replyFileTxt {
    vertical-align: 50%;
    margin-left: 1em;
    color: #466DA6;
}

.replyFile {
    display: none;
}

.noComments {
    margin: 40px 0 80px 0;
    color: #596C77;
    font-size: 22px;
    font-weight: 550;
    background: #FBFBFB;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    padding: 20px;
    min-width: 500px;
    max-width: 80%;
    font-size: 16px;
    line-height: 150%;
}

.takeToWork {
    margin-top: 60px;
}

.takeToWorkTitle {
    font-size: 22px;
    color: #466DA6;
    font-weight: 550;
}

.btns {
    display: flex;
    margin-top: 1em;
    margin-bottom: 3em;
}

.btnGreen, .btnRed {
    display: block; 
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-weight: 550;
    font-size: 16px;
    line-height: 16px;
    color: #fff !important;
    cursor: pointer;
}
.btnGreen {
    margin-right: 30px;
    background: #60BC87;
}
.btnGreen:hover {
    background: #60bc86d7;
}
.btnGreen:active {
    background: #60bc86b4;
}
.btnRed {
    background: #DA7B7B;
}
.btnRed:hover {
    background: #da7b7bd5;
}
.btnRed:active {
    background: #da7b7bb4;
}

.btnTake, .btnReject {
    position: relative;
}

.takePopUp, .rejectPopUp {
    height: 160px;
    width: 300px;
    background: #FCFDFE;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: -20px;
    z-index: 10;
}

.takePopUp {
    left: 180px;
}

.rejectPopUp {
    left: 180px;
}

.popUpTop {
    display: flex;
    padding: 18px;
    justify-content: space-between;
}

.popUpTitle {
    font-size: 20px;
    color:  #466DA6;
    padding: 15px;
}

.popUpClose {
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.popUpCloseImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
}

.popUpBottom {
    display: flex;
    padding: 0 33px 33px 33px;
    justify-content: space-between;
}

.btnGreenSmall, .btnRedSmall {
    display: block;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 90px;
    border-radius: 4px;
    color: #fff !important;
    font-size: 16px;
}

.btnGreenSmall {
    background: #60BC87;
}
.btnGreenSmall:hover {
    background: #60bc86d7;
}
.btnGreenSmall:active {
    background: #60bc86b4;
}
.btnRedSmall {
    background: #DA7B7B;
}
.btnRedSmall:hover {
    background: #da7b7bd5;
}
.btnRedSmall:active {
    background: #da7b7bb4;
}